.admin-users-page {
    background: #f4f6f9;
    min-height: 100vh;
    padding: 40px 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 600;
}

/* Search Bar */
.search-bar {
    display: flex;
    width: 100%;
    gap: 10px;
    margin-bottom: 25px;
}

.search-bar input {
    flex: 1;
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.search-bar button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background: #4caf50;
    color: white;
    cursor: pointer;
}

/* Table */

.users-table {
    background: white;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
    width: 100%;
}

.table-header,
.table-row {
    display: grid;
    grid-template-columns: 1fr 1.3fr 1fr 1fr 0.8fr 1.2fr;
    padding: 16px 24px;
    align-items: center;
}

.table-header {
    background: #bcc0c9;
    font-weight: 600;
    font-size: 14px;
    color: #282c33;
}

.table-row {
    border-top: 1px solid #f0f0f0;
    font-size: 14px;
    color: #374151;
}

.status {
    padding: 6px 14px;
    border-radius: 999px;
    font-size: 12px;
    font-weight: 500;
}

.status.active {
    background: #e6f4ea;
    color: #2e7d32;
}

.status.inactive {
    background: #f5f5f5;
    color: #777;
}

.actions {
    display: flex;
    gap: 12px;
    justify-content: flex-start;
}

.view-btn {
    background: none;
    border: none;
    color: #1e88e5;
    cursor: pointer;
}

.ban-btn {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}